*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* background-color: rgb(4, 6, 58); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.caveat {
    text-align: center;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    color: #a3c6c4;
}

.sub-container {
    background-color: #e0e7e99a;
    padding: 32px;
}

.btn {
    background-color:#354649 !important;
    color: #fff !important;
}